parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method [a-zA-Z]+\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        -
            message: "#^Unreachable statement \\- code above always terminates\\.$#"
            count: 1
            path: tests/functional/DatadirTest.php